@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">OpenID Client</h1>
    <p class="lead">
        This example demonstrates using OpenID Connect to authenticate to an OpenID provider.
    </p>
</div>
