@page
@model ExampleOpenIDProvider.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p>If you need assistance, please feel free to contact us by email or on our <a href="https://www.componentspace.com/forums" target="_blank">online forums</a>.</p>


