@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Example OpenID Provider</h1>
    <p class="lead">
        This example demonstrates using the ComponentSpace OpenID Connect (OIDC) library to enable authentication
        as the OpenID Provider (OP).
    </p>
</div>
